@keyframes fadeInSlideUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.weather-details.fade-in {
  animation: fadeInSlideUp 0.5s ease-out forwards;
}

body{
  background-image: url('bg.jpg');
  background-attachment: fixed; 
  background-size: cover;  
  
}


.more-info-btn {
  background-color: #007bff; 
  color: white; 
  transition: background-color 0.2s ease; 
}


  .container {
  flex: 1 1 calc(33.333% - 1rem); 
  margin: 0.5rem; 
  box-sizing: border-box;
  
  min-width: 250px; 
}
  
  


.content{
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
}
.btn{
    background-color:brown;
}
.cards{
    margin: 20px;
    padding: 20px;

    background-color:#c7b198;
    border: 5px solid rgba(241, 225, 222, 0.594);
}   
   


h1 {
    text-align: center; 
    margin-top: 20px; 
    padding-top: 20px;
  }


.custom-row
{
  display: flex;
  flex-wrap: wrap; /* Allows wrapping of containers to new lines */
  justify-content: space-between; /* Distribute space between containers */
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}



  
  
  .text-center {
    text-align: center;
  }
  
    

    
 

  


  
  
