@keyframes fadeInSlideUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.weather-details.fade-in {
  animation: fadeInSlideUp 0.5s ease-out forwards;
}

body{
  background-image: url('bg.jpg');
  background-attachment: fixed; 
  background-size: cover;  
  
}


.more-info-btn {
  background-color: #007bff; 
  color: white; 
  transition: background-color 0.2s ease; 
}

.container {
    width: 33.3%;
    max-width: 400px;
    min-width: 300px;
    margin: 0 auto;
  }
  


.content{
    position: relative;
    background-color: rgba(255, 255, 255, 0.8);
}
.btn{
    background-color:brown;
}
.cards{
    margin: 20px;
    padding: 20px;

    background-color:#c7b198;
    border: 5px solid rgba(241, 225, 222, 0.594);
}   
   


h1 {
    text-align: center; 
    margin-top: 20px; 
    padding-top: 20px;
  }

    
.custom-container {
    width: 100%; 
    max-width: 1140px; 
    margin: 0 auto; 
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .custom-col
   {
    width: calc(33.333% - 1rem); 
    margin-right: 0.5rem; 
    margin-left: 0.5rem; 
    margin-bottom: 1rem; 
    box-sizing: border-box; 
   }


  
  .custom-mb {
    margin-bottom: 1.5rem; 
  }
  
  .text-center {
    text-align: center;
  }
  
    

    
 

  


  
  
